[submodule "deps/ActionBarSherlock/repo"]
	path = deps/ActionBarSherlock/repo
	url = git@github.com:JakeWharton/ActionBarSherlock.git
[submodule "deps/SlidingMenu/repo"]
	path = deps/SlidingMenu/repo
	url = git@github.com:jfeinstein10/SlidingMenu.git
